.characters-component{
  a {
    text-decoration: none;
  }

  .character{
    border: none;
    background-color: rgba(100, 100, 100, 0.7);
    box-shadow: 0px 0px 15px 10px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    overflow: hidden;
    margin-bottom: 30px;
    text-align: center;

    .name-tag{
      vertical-align: middle;
      padding: 20px 30px;
      font-size: 25px;
      font-weight: bold;
      color: #EEE;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      letter-spacing: -0.5px;

      @media screen and (min-width: 576px) and (max-width: 767px) {
        font-size: 20px;
      }

      @media screen and (min-width: 768px) and (max-width: 991px) {
        font-size: 18px;
      }

      @media screen and (min-width: 992px) and (max-width: 1199px) {
        font-size: 20px;
      }

      @media screen and (min-width: 1200px) and (max-width: 1399px) {
        font-size: 22px;
      }
    }

    .image{
      position: relative;
      .status-tag{
        font-size: 18px;
        color: #FFF;
        position: absolute;
        background-color: #333;
        padding: 2px 5px;
        border-radius: 5px;
        top: 8px;
        right: 8px;
        box-shadow: 2px 2px 10px 0px rgb(0 0 0 / 25%);
      }

      .character-img{
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url("../../assets/images/character-placeholder.jpg");

        @media screen and (max-width: 575px) {
          width: 100%;
        }

        @media screen and (min-width: 576px) and (max-width: 767px) {
          width: 240px;
          height: 240px;
        }

        @media screen and (min-width: 768px) and (max-width: 991px) {
          width: 312px;
          height: 312px;
        }

        @media screen and (min-width: 992px) and (max-width: 1199px) {
          width: 210px;
          height: 210px;
        }

        @media screen and (min-width: 1200px) and (max-width: 1399px) {
          width: 255px;
          height: 255px;
        }

        @media screen and (min-width: 1400px) {
          width: 300px;
          height: 300px;
        }
      }
    }

    .information{
      padding-top: 10px;
      padding-bottom: 20px;
      color: #EEE;
      
      p{
        font-size: 18px;
        margin-bottom: 0px;
        line-height: 24px;
      }

      .more-info{
        padding-top: 10px;
        text-decoration: underline;
        text-underline-position: under;
        font-size: 12px;

        @media screen and (min-width: 768px) and (max-width: 991px) {
          font-size: 10px;
        }

        @media screen and (min-width: 992px) and (max-width: 1199px) {
          font-size: 10px;
        }
      }
    }

    &-alive{
      .image{
        .status-tag{
          background-color: #090;
        }
      }
    }

    &-dead{
      .image{
        .status-tag{
          background-color: #900;
        }
      }
    }
  }
  .character-col{
    padding-left: 15px;
    padding-right: 15px;
  }
}