.footer-component{
  padding-top: 6px;
  padding-bottom: 10px;

  p {
    margin-bottom: 0px;
    text-align: justify;
    color: #BBB;
    font-size: 10px;
  }

  a {
    color: #FFF;
    font-weight: bold;
  }

  .adult-swim-logo{
    width: 100%;

    @media screen and (max-width: 992px) {
      display: none;
    }
  }
}