.locations-component{
  a {
    text-decoration: none;
  }

  .location{
    border: none;
    background-color: rgba(100, 100, 100, 0.7);
    box-shadow: 0px 0px 15px 10px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    overflow: hidden;
    margin-bottom: 30px;
    text-align: center;

    .name-tag{
      vertical-align: middle;
      padding: 15px 15px 10px 15px;
      font-size: 20px;
      font-weight: bold;
      color: #EEE;
      letter-spacing: -0.5px;
      height: 60px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      @media screen and (min-width: 576px) and (max-width: 991px) {
        font-size: 16px;
      }

      @media screen and (min-width: 992px) and (max-width: 1199px) {
        font-size: 17px;
      }

      @media screen and (min-width: 1200px) and (max-width: 1399px) {
        font-size: 18px;
      }
    }

    .information{
      padding: 0px 15px 0px 15px;
      color: #EEE;
      height: 60px;

      p{
        font-size: 16px;
        margin-bottom: 0px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        @media screen and (min-width: 576px) and (max-width: 1199px) {
          font-size: 14px;
        }
      }
    }

    .more-info{
      color: #EEE;
      padding-top: 10px;
      text-decoration: underline;
      text-underline-position: under;
      font-size: 12px;

      @media screen and (min-width: 576px) and (max-width: 1199px) {
        font-size: 10px;
      }
    }
  }
  .location-col{
    padding-left: 15px;
    padding-right: 15px;
  }
}