.not-found{
  color: #DDD;
  text-align: center;
  padding-top: 75px;
  padding-bottom: 100px;

  .page-not-found-404{
    font-size: 70px;
    line-height: 80px;
  }

  .page-not-found{
    font-size: 18px;
  }

  .not-found-image{
    .img{
      padding-top: 25px;
      padding-bottom: 25px;
      width: 100px;
    }
  }

  .go-back-button{
    button{
      color: #DDD;
      background: none;
      border: none;
      outline: none;
      text-decoration: underline;
      text-underline-position: under;
    }
  }
}